.header {
  padding: 30px 0;
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search-form {
  display: flex;
}

.header__search-input {
  padding: 13px 11px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--color-grey-light);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--color-black);
}

.header__search-input:focus {
  outline: 2px solid var(--color-accent);
}

.header__search-button {
  padding: 11px 14px;
  background-color: var(--color-accent);
  border-radius: 8px;
  font-family: var(--font-accent);
  font-size: inherit;
  line-height: inherit;
  color: var(--color-grey-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.2s;
}

.header__search-button:focus,
.header__search-button:hover {
  opacity: 0.7;
}
