.header__navigation-list {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header__navigation-list-item:not(:first-child)::before {
  content: "//";
  margin: 0 10px;
  color: var(--color-accent);
}

.header__navigation-link {
  font-family: var(--font-accent);
  color: var(--color-accent);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.header__navigation-link--user {
  font-family: var(--font-primary);
  font-weight: 500;
  text-transform: lowercase;
}

.header__navigation-link[href] {
  cursor: pointer;
  transition: opacity 0.2s;
}

.header__navigation-link[href]:focus,
.header__navigation-link[href]:hover {
  opacity: 0.7;
}

.header__navigation-link--active[href],
.header__navigation-link--active[href]:focus,
.header__navigation-link--active[href]:hover {
  transition: none;
  opacity: 1;
  cursor: default;
}
